body {
  background: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-align: center;
}

.advice-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 19.5rem;
  width: 100%;
  margin: 25% auto;
  padding: 1.75rem 1rem 4rem 1rem;
  background: hsl(217, 19%, 24%);
  border-radius: 1rem;
}

#advice-id {
  color: hsl(150, 100%, 66%);
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

#advice-text {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  margin-top: 0.5rem;
}

.dice-background {
  position: absolute;
  bottom: -1.75rem;
  background: hsl(150, 100%, 66%);
  padding: 1.5em;
  border-radius: 100%;
}

@media (min-width: 1440px) {
  .advice-container {
    max-width: 500px;
  }

  #image-divider {
    max-width: 450px;
    width: 100%;
  }
}
